{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->

    <div class="header pb-4 pt-5 pt-md-8"
         style="min-height: 100px; background-image: url(/static/assets/img/banner.jpg); background-size: cover; background-position: center top;">
      <div class="container-fluid">
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">내공모</h3>
              <div>

              <div class="row">
                        <div class="form-group">
                          <a class=" btn btn-smbtn-primary" id="aapp" href='applications?atype=all'>전체</a>
                          <a class=" btn btn-smbtn-primary" id="gapp" href='applications?atype=g' >일반</a>
                          <a class=" btn btn-smbtn-primary" id="tapp" href='applications?atype=t' >번역</a>
                      </div>
                </div>
              {% if is_admin %}
              <div class="row">
                <select id="qtype-select">
                  <option value="book_title">책제목</option>
                  <option value="app_user">작성자</option>
                </select>
                  <input type="text" id='input_query' />
                  <a class=" btn btn-smbtn-navy" id="btn_search" onclick="this.href='applications?atype=all&qtype=' + document.getElementById('qtype-select').value + '&query='+document.getElementById('input_query').value" >검색</a>
                </div>
              {% endif %}
              </div>
            </div>
            <div class="table-responsive">
              <a href="/submit" class="btn btn-smbtn-primary" >공모참여</a>
              <a href="/export" class="btn btn-smbtn-primary" >다운로드</a>
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr >
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col"></th>
                    <th scope="col">접수번호</th>
                    <th scope="col">등록일시</th>
                    <th scope="col">접수상태</th>
                  </tr>
                </thead>
                <tbody>
                  {% for app in apps %}
                  <tr onClick="location.href='/appdetail/{{app.aid}}/'">
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-1">
                          <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                            <span class="mb-3 text-sm">{{ app.book_title }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        {{ app.app_user }}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                      </span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div>
                            {{ app.app_token }}
                        </div>
                      </div>
                    </td>
                    <td>{{app.created_at}} </td>
                    <td >
                      <div class="d-flex align-items-center">
                        {% if app.accepted_yn == 'Y' %}
                            <a href="/submit" class="btn btn-smbtn-primary" >접수완료</a>
                        {% endif %}

                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% for page in pages %}
                  <li class="page-item">
                    <a class="page-link" href="applications?{{request_context}}page={{page}}"> {{page}} <span class="sr-only">(current)</span></a>
                  </li>
                  {% endfor %}
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark table -->
      {% include "includes/footer.html" %}
    </div>

<script>
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
  

  const atype = getParameterByName('atype');
  const qtype = getParameterByName('qtype');
  const query = getParameterByName('query');

  function pagination(page) {

  }

  if (qtype) {
    document.getElementById('qtype-select').value = qtype;
  }

  document.getElementById('btn_search').style.backgroundColor = 'skyblue';

  if (atype && atype != 'all') {
    if (atype == 'g') {
      document.getElementById("gapp").style.backgroundColor = "skyblue";
    }
    else {
      document.getElementById("tapp").style.backgroundColor = "skyblue";
    }
  }
  else {
    document.getElementById("aapp").style.backgroundColor = "skyblue";
  }

  if (query) {
    document.getElementById('input_query').value = query;
  }

</script>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
