{% extends 'layouts/base.html' %}

{% block title %} Notice Board {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-5 pt-5 pt-lg-8" 
         style="min-height: 100px; background-image: url(/static/assets/img/banner.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <!-- Header container -->
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">제4회 롯데출판문화대상</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="javascript:document.application.submit();" class="btn btn-sm btn-primary">제출하기</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form name="application" enctype="multipart/form-data"  method="post" action="apply" >{% csrf_token %}
                <h6 class="heading-small text-muted mb-4">{{ noti_msg }}</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">신청부문</label>
                          <input type="radio" name="app_type" checked="" value="g">일반   
                          <input type="radio" name="app_type" value="t" >번역
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <label name="isbn" class="form-control-label" for="input-email">ISBN</label>
                        <input name="isbn" class="form-control form-control-alternative" placeholder="ISBN" value="{{ cached.isbn }}" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">도서명</label>
                        <input type="text" name="book_title" class="form-control form-control-alternative" value="{{ cached.book_title }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">저자명</label>
                        <input type="text" name="author_name" class="form-control form-control-alternative" placeholder="Username" value="{{ cached.author_name }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label name = "publisher_name" class="form-control-label" for="input-email">발행처,대표자명</label>
                        <input type="email" name="publisher_name" class="form-control form-control-alternative" value="{{ cached.publisher_name }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label name = "inquiries_info" class="form-control-label" for="input-email">담당자명,연락처</label>
                        <input type="email" name="inquiries_info" class="form-control form-control-alternative" value="{{ cached.inquiries_info }}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">숫자만 입력해주세요.</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="published_date" for="input-username" >초판 1쇄 발행일</label>
                        <input  name="published_date" class="form-control form-control-alternative" placeholder="YYYYMMDD" value="{{ cached.published_date }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="price" for="price">판매부수(권)</label>
                        <input  name="book_sales_cnt" class="form-control form-control-alternative" placeholder="판매부수" value="{{ cached.book_sales_cnt }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="price" for="price">정가(원)</label>
                        <input name="price" class="form-control form-control-alternative" placeholder="판매가격" value="{{ cached.price }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="book_width" for="input-city">가로(mm)</label>
                        <input name="book_width" class="form-control form-control-alternative" placeholder="가로(mm)" value="{{ cached.book_width }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="book_height" for="input-country">세로(mm)</label>
                        <input name="book_height" class="form-control form-control-alternative" placeholder="세로(mm)" value="{{ cached.book_height }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" name="page_num" for="input-country">쪽수(page)</label>
                        <input name="book_page_cnt" id="input-postal-code" class="form-control form-control-alternative" placeholder="쪽수(page)" value="{{ cached.book_page_cnt }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" name="biz_no" for="input-username" >사업자등록증</label>
                        <input type="file" name="biz_file" accept="image/*">
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-control-label" for="input-email">출판사신고필증</label>
                       <input type="file" name="pub_file" accept="image/*" >
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4"></h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>도서 특징</label>
                    <textarea name="book_detail" rows="4" class="form-control form-control-alternative" >{{ cached.book_detail }}</textarea>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>저자 소개</label>
                    <textarea name="author_detail" rows="4" class="form-control form-control-alternative" >{{ cached.author_detail }}</textarea>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div clas="form-group">
                    <label>출판사 및 대표소개</label>
                    <textarea name="publisher_detail" rows="4" class="form-control form-control-alternative" >{{ cached.publisher_detail }} </textarea>
                  </div>
                </div>
                    <div class="pl-lg-4">
                        <label class="form-control-label" name="thumb_file" for="thumb_file" >도서 소개 내용 및 이미지를 추가로 첨부할 수 있습니다.</label>
                      <div class="form-group">
                        <input type="file" name="thumb_file" accept="image/*">
                    </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <input type="file" name="detail_file" accept="image/*">
                      </div>
                    </div>
                  <div clas="form-group">
                    <div class="pl-lg-4"></div>
                        <a href="javascript:document.application.submit();" class="btn btn-sm btn-primary">제출하기</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
